@import url("https://fonts.googleapis.com/css?family=Poppins");

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins',sans-serif;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #7ebfb3;
}

.container{
    width: 420px;
    color: #194759;
    border-radius: 12px;
    padding: 30px 40px;
}

.container h1{
    font-size: 36px;
    text-align: center;
}

.container .img-container{
    display: flex;
    align-items: center;
    justify-content: center;
}

.img-container img{
    height: 280px;
}