@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
    overflow-x: hidden;
}

body {
    display: flex;
    flex-direction: column;
}

header {
    background-color: #7ebfb3;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding-top: 5px;
    padding-bottom: 5px;
}

nav ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    font-weight: bold;
    padding-left: 15px;
}

nav ul li {
    padding: 0px 15px;
}

.logo {
    display: flex;
    align-items: center;
    font-size: 1.5rem;
    color: #194759;
    font-weight: bolder;
    padding-right: 450px;
    margin: 0;
    padding-left: 25px;
}

.logo img {
    width: 40px;
    padding-right: 12px;
}

.nav-bar {
    list-style: none;
    display: flex;
}

.nav-bar a {
    text-decoration: none;
    color: #194759;
    font-size: 1rem;
}

.login-signup-button {
    display: flex;
    align-items: center;
}

.login-signup-button button {
    margin-left: 0.5rem;
    padding: 0.5rem 1rem;
    cursor: pointer;
    font-size: 1rem;
}

.login, .signup {
    background-color: transparent;
    color: #194759;
    border: 3px solid #194759;
    border-radius: 20px;
    transition: all 0.3s ease;
    text-decoration: double;
    font-weight: bold;
    position: relative;
    left: 500px;
}

.login:hover {
    background-color: #194759;
    color: #7ebfb3;
}

.signup:hover {
    background-color: #194759;
    color: #7ebfb3;
}

main {
    flex: 1;
    margin-bottom: 60px; 
}

.container {
    width: 80%;
    margin: 20px auto;
    padding: 20px;
}

.container header {
    text-align: center;
    margin-bottom: 20px;
}

.container header h1 {
    margin: 0;
    color: #333;
}

.container header p {
    margin: 5px 0 0;
    color: #666;
}

#pickupList, #deliveryList, #driverRatings, #deliveryHistory {
    margin-top: 20px;
}

th, td {
    padding: 12px;
    text-align: left;
}

th {
    background-color: #7ebfb3;
    color: #fff;
}

td label {
    display: flex;
    align-items: center;
}

.description {
    margin-top: 20px;
    padding: 20px;
    background-color: #f2f2f2;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding-bottom: 5px;
}

.driver-rating h2 {
    margin-top: 0;
    color: #333;
}

.driver-rating p {
    margin: 5px 0;
    color: #555;
}

.comments h3 {
    margin: 10px 0 5px;
    color: #333;
}

.field_effect {

    border: none;
    outline: none;
    border-radius: 15px;
    padding: 1em;
    background-color: #ccc;
    box-shadow: inset 2px 5px 10px rgba(0,0,0,0.3);
    transition: 300ms ease-in-out;
  }

#routing_driver{
    position: relative;
    left: 150px;
    display: inline-block;
    padding-bottom: 7px;
}

#routing_vehicle{
    display: inline-block;
    position: relative;
    left: 320px;
}

#routing_package{
    display: inline-block;
    position: relative;
    left: 130px;
    padding-bottom: 5px;
}

#routing_size{
    display: inline-block;
    position: relative;
    left: 280px;
    padding-bottom: 5px;
}

.display_field {
    border: none;
    outline: none;
    background-color: transparent;
    font-family: inherit;
    font-size: inherit;
    outline: none;
    border-radius: 15px;
    padding: 1em;
    background-color: #ccc;
    box-shadow: inset 2px 5px 10px rgba(0,0,0,0.3);
    transition: 300ms ease-in-out;
    height: 15px;
}

#routing_date{
    display: inline-block;
    position: relative;
    left: 125px;
}

#routing_time{
    display: inline-block;
    position: relative;
    left: 290px;
}

#routing_submit{
    text-align: center;
}

.button {
    width: 100px;
    display: inline-block;
    width: 100%;
    font-weight: bold;
    background: linear-gradient(45deg, rgb(126, 191, 179) 0%, rgb(126, 191, 179) 100%);
    color: white;
    padding-block: 15px;
    margin: 20px auto;
    border-radius: 20px;
    box-shadow: rgba(133, 189, 215, 0.8784313725) 0px 20px 10px -15px;
    border: none;
    transition: all 0.2s ease-in-out;
}

.button:hover {
    transform: scale(1.03);
    box-shadow: rgba(133, 189, 215, 0.8784313725) 0px 23px 10px -20px;
    cursor: pointer;
}

.button:active {
    transform: scale(0.95);
    box-shadow: rgba(133, 189, 215, 0.8784313725) 0px 15px 10px -10px;
}

span{
    font-family: 'Roboto', sans-serif;
    font-weight: bold;

}

#routing_reset{
    display: inline-block;
    width: 100px;
    position: relative;
    left: 350px;
}

#routing_submit{
    display: inline-block;
    width: 100px;
    position: relative;
    left: 400px;
}

#manage_driver_add{
    position: relative;
    left: 150px;
    display: inline-block;
    padding-bottom: 7px;
}

#manage_name_add{
    display: inline-block;
    position: relative;
    left: 260px;
    padding-bottom: 5px;
}

#manage_phone{
    position: relative;
    left: 350px;
    display: inline-block;
    padding-bottom: 7px;
}

#manage_add{
    display: inline-block;
    width: 100px;
    position: relative;
    left: 450px;
}

#manage_driver_del{
    position: relative;
    left: 150px;
    display: inline-block;
    padding-bottom: 7px;
}

#manage_name_get{
    display: inline-block;
    position: relative;
    left: 260px;
    padding-bottom: 5px;
}

#manage_del{
    display: inline-block;
    width: 100px;
    position: relative;
    left: 450px;
}

#manage_package_Pid{
    display: inline-block;
    position: relative;
    left: 340px;
    padding-bottom: 5px;
}

#manage_package_status{
    display: inline-block;
    position: relative;
    left: 320px;
    padding-bottom: 5px;
}

#mP_status{
    width: 20px;
    height: 20px;
    display: inline-block;
    position: relative;
    left: 30px;
    top: 5px;
    padding-bottom: 5px;
}

#manage_package_Daddress{
    position: relative;
    left: 90px;
    display: inline-block;
    padding-bottom: 7px;
}

#manage_package_Paddress{
    position: relative;
    left: 180px;
    display: inline-block;
    padding-bottom: 7px;
}

#manage_package_Ddate{
    display: inline-block;
    position: relative;
    left: 118px;
}

#manage_package_Dtime{
    display: inline-block;
    position: relative;
    left: 280px;
}

footer {
    background-color: #194759;
    padding: 16px 0px;
    text-align: center;
    color: #7ebfb3;
    font-size: 16px;
    bottom: 0;
    position: relative;
    width: 100%;
}

footer span {
    padding-right: 570px;
}

footer a {
    color: #7ebfb3;
    margin: 0 10px;
    text-decoration: none;
    padding-left: 18px;
}

footer a:hover {
    text-decoration: underline;
}

#Pid_payment {
    display: inline-block;
    position: relative;
    left: 130px;
    padding-bottom: 5px;
}

#paymentMethod {
    display: inline-block;
    position: relative;
    left: 280px;
    padding-bottom: 5px;
}

#extraCharges {
    position: relative;
    left: 330px;
    display: inline-block;
    padding-bottom: 7px;
}

#payment_submit {
    display: inline-block;
    width: 100px;
    position: relative;
    left: 450px;
}
